h1 {
	color: white;
	font-size: 30px;
	font-family: monospace;
	text-align: center;
}

body {
	background: black;
}

#demo {
	text-align: center;
	font_size: 24px;
	color: whitesmoke;
}

img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

a {
	text-decoration: none;
	color: black;
}

small {
	font-family: monospace;
}

